<%- include ("../common/header") %>
	<form action="./boardList" method="GET">
		<div class="btn-group" role="group" aria-label="Basic example">
			<input name="keyword" type="text" placeholder="검색어를 입력해주세요">
			<button class="btn btn-secondary">검색</button>
		</div>
	</form>
	<!-- 목록 출력 영역 -->
	<a href="boardForm" class="btn btn-info" style="width: 100%;">글쓰기</a>
	<table class="table table-horizontal table-bordered">
		<thead class="thead-string">
			<tr>
				<th>게시글번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>이메일</th>
				<th>작성일</th>
			</tr>
		</thead>
		<tbody id="tbody">
			<% for(var i=0; i<rows.length; i++) { %>
				<tr>
					<td>
						<a href='boardRead?brdno=<%=rows[i].brdno%>'>
							<%=rows.length-i%>
						</a>
					</td>
					<td><a href='boardRead?brdno=<%=rows[i].brdno%>'>
							<%=rows[i].brdtitle%> <% if(rows[i].reply) { %> [<%=rows[i].reply%>] <% } %>
						</a></td>
					<td>
						<%=rows[i].brdwriter%>
					</td>
					<td>
						<%=rows[i].brdEmail%>
					</td>
					<td>
						<%=rows[i].brddate_format%>
					</td>
				</tr>
				<% } %>
		</tbody>
	</table>
	<ul class="pagination justify-content-center">
		<% if(pagingObj.prev) { %>
			<li class="page-item"><a class="page-link" href="boardList?prev=<%=pagingObj.prev.data().brddate%>">Prev</a>
			</li>
		<% } %>
		<% if(pagingObj.next) { %>
			<li class="page-item"><a class="page-link"	href="boardList?next=<%=pagingObj.next.data().brddate%>">Next</a></li>
		<% } %>
	</ul>
	<%- include ("../common/footer") %>