<%- include ("../common/header") %>
	<script>
		// https://velog.io/@rkio/Javascript-%ED%8C%8C%EC%9D%BC-%EC%97%85%EB%A1%9C%EB%93%9C-%EA%B5%AC%ED%98%84
		// 서버파일 다운로드 용
		async function downloadFile(fileUrl) {
			const baseurl = '/board/download';
			const params = {  // 필요한 query params를 {} 형태에 담아준다.
				fileUrl: fileUrl,
			};
			const queryString = new URLSearchParams(params).toString();  // url에 쓰기 적합한 querySting으로 return 해준다. 
			const requrl = `${baseurl}?${queryString}`;   // 완성된 요청 url.
			const link = document.createElement("a");
			// a 태그 클릭시 다운로드 될 파일의 경로이다.
			link.href = requrl;
			// body에 a 태그를 추가한다.
			document.body.appendChild(link);
			// a 태그를 강제로 클릭한다.
			link.click();
			// a 태그를 제거한다.
			link.remove();
			// 생성했던 url도 제거해준다.
			window.URL.revokeObjectURL(requrl);
		}
		// 파이어베이스 스토어파일 다운로드 사용 취소
		async function handleFileDownload(publicUrl) {
			//const outsideRes = await fetch(publicUrl);
			//const blob = await outsideRes.blob();
			//const url = window.URL.createObjectURL(blob);
			const link = document.createElement('a');
			// 생성한 URL과 다운로드할 파일명 설정
			link.setAttribute('href', url);
			link.setAttribute('download', 'download');
			link.setAttribute('target', '_self');
			// 링크를 문서(body)에 추가
			document.body.appendChild(link);
			// 링크 클릭 => 파일 다운로드
			link.click();
			// 다운로드 후 링크와 URL을 정리
			link.parentNode.removeChild(link);
			window.URL.revokeObjectURL(url)
		}
	</script>
	<h2>게시글 보기</h2>
	<div class="col-md-12">
		<form id="form_posts" action="" method="post">
			<div class="form-group">
				<label for="id">작성일시</label>
				<input type="text" class="form-control" id="id" value="<%=row.brddate%>" readonly>
			</div>
			<div class="form-group">
				<label for="title">제목</label>
				<input type="text" class="form-control" id="title" value="<%=row.brdtitle%>" readonly>
			</div>
			<div class="form-group">
				<label for="author"> 작성자</label>
				<input type="text" class="form-control" id="author" value="<%=row.brdwriter%> (<%=row.brdEmail%>)"
					readonly>
			</div>
			<div class="form-group">
				<label for="content"> 내용</label>
				<textarea class="form-control" id="content" readonly><%=row.brdmemo%></textarea>
			</div>
			<div class="form-group">
				<label for="author"> 첨부파일</label>
				<% if(row.path) { %>
					<input type="button" onclick="downloadFile('<%=row.path%>')" value="다운로드">
					<!-- (row.brdFile).replace(/public/g, '') 또는 (row.brdFile).substring((row.brdFile).indexOf('public') + 'public'.length) -->
					<div style="border:1px solid red"><img src="<%=(row.publicUrl)%>" style="width:100%"></div>
					<% }else{ %>
						[없음]
						<% } %>
			</div>
			<a href="#" onclick="history.back(-1)" role="button" class="btn btn-secondary">취소</a>
			<!-- 보안때문에 post 로 변경 
				<a href="boardDelete?brdno=<%=row.brdno%>" class="btn btn-danger">삭제</a> 
				<a href="boardForm?brdno=<%=row.brdno%>" class="btn btn-success">수정</a>
			-->
			<input type="hidden" name="brdno" value="<%=row.brdno%>">
			<a href="#" onclick="window.location.replace('/board/boardList')" role="button"
				class="btn btn-secondary">목록</a>
			<input type="button" class="btn btn-success btn-delete" value="삭제"></button>
			<button class="btn btn-success btn-update">수정</button>
		</form>
	</div>
	<script>
		window.onload = function () {
			var theForm = $('#form_posts')[0];
			$('.btn-update').on('click', function () {
				theForm.action = "boardForm";
				theForm.submit();
			})
			var btnDelete = document.querySelector(".btn-delete");
			btnDelete.addEventListener('click', function () {
				var brdno = document.querySelector("[name=brdno]");
				//theForm.action = "boardDelete";
				//theForm.submit();
				$.ajax({
					url: 'boardDelete',
					type: 'POST',
					data: {brdno: brdno.value},  //위에서 선언한 fromdata
					success: function (response) {
						console.log('ajax 성공', response);
						location.replace(document.referrer);
					},
					error: function (err) {
						console.log(err.status);
						if(err.status) {
							alert('수정/삭제는 본인이 작성한 글만 가능합니다.');
						}else{
							alert(err.status + '알수 없는 오류가 밠생 했습니다.');
						}
					}
				});
			});
		}
	</script>
	<%- include ("../common/footer") %>